.login-page {
    background-image: url(https://images.squarespace-cdn.com/content/5634d63ce4b0b3e71becee89/1457990263551-RAP1ULY733XND43U23IT/spotlight.jpeg?format=1500w&content-type=image%2Fjpeg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-size: cover;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden;
    .login-box {
        .msg {
            color: #555;
            margin-bottom: 30px;
            text-align: center;
        }
        a {
            font-size: 14px;
            text-decoration: none;
            color: #00BCD4;
        }
        .logo {
            a {
                font-size: 36px;
                display: block;
                width: 100%;
                text-align: center;
                color: #fff;
            }
            small {
                display: block;
                width: 100%;
                text-align: center;
                color: #fff;
                margin-top: -5px;
            }
            margin-bottom: 20px;
            border-bottom: 3px solid azure;
        }
    }
    .card {
        .body {
            .btn-social {
                width: 240px;
                font-size: 14px;
            }
        }
    }
}